@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
        url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    font-weight: bold;
    color: rgb(255, 0, 0);
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    box-shadow: 2px 3px 8px rgb(233, 9, 9);
}

.main-nav li {
    padding: 0 5%;
}

.nav ul li a:hover {
    background-color: rgba(90, 86, 86, 0.781);
}

.main-header {
    background-color: rgba(37, 35, 35, 0.795);
    background-image: url("../img/nav2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: multiply;
    padding-bottom: 30px;
}

.sli {
    margin: 0 auto;
    margin-top: 20px;
}

.slider {
    width: 1000px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 1000px;
    height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual {
    position: absolute;
    width: 1000px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #2c2b2b;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #fc0000;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto {
    position: absolute;
    display: flex;
    width: 1000px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div {
    border: 2px solid #353333;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background: #3b3b3b;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background: #3b3b3b;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background: #3b3b3b;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background: #3b3b3b;
}

.band-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Booter - Zero Zero";
    font-weight: bold;
    background: linear-gradient(to bottom, rgb(255, 0, 0), rgb(233, 76, 3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding-top: 40px;
}

.band-name-large {

    font-size: 2em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.about-band-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}

.main-footer {
    background-color: #56CCF2;
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}

.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child {
    border: none;
}

.tour-item {
    display: inline-block;
    padding-right: .5em;
}

.tour-date {
    color: #555;
    width: 11%;
    font-weight: bold;
}

.tour-city {
    width: 24%;
}

.tour-arena {
    width: 42%;
}

.tour-btn {
    max-width: 19%;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}


.recomm {
    height: 120px;
    margin-left: 320px;
}

.btn {
    background-color: #530303;
    color: #fff;
}

#fooooter {
    padding: 0;
}

footer a:hover {
    text-decoration: underline red;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.col-md-4 {
    flex-basis: 33.33%;
    max-width: 33.33%;
    padding: 15px;
    box-sizing: border-box;
}

.f4 {
    padding-left: 200px;
    padding-bottom: 20px;
}

.text-white,
.text-secondary {
    color: #f8fbff;
}

.text-secondary {
    font-size: 16px;
}

.fw-bold {
    font-weight: bold;
}

.tubiaos {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.tubiaos li {
    margin-right: 10px;
}

.tubiaos a {
    display: block;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
}

#tubiao1 {
    background: url(../img/tt.png) no-repeat;
}

#tubiao1:hover {
    background: url(../img/tt1.png) no-repeat;
}

#tubiao2 {
    background: url(../img/tt2.png) no-repeat;
}

#tubiao2:hover {
    background: url(../img/tt3.png) no-repeat;
}

#tubiao3 {
    background: url(../img/tt4.png) no-repeat;
}

#tubiao3:hover {
    background: url(../img/tt5.png) no-repeat;
}

#tubiao4 {
    background: url(../img/tt6.png) no-repeat;
}

#tubiao4:hover {
    background: url(../img/tt7.png) no-repeat;
}

.f3 {
    background-color: #26262b;
}

#f123 {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

#f123 li {
    font-size: 20px;
    font-weight: bold;
    padding-left: 50px;
    margin-top: 10px;
    margin-left: 120px;
    border-right: 1px solid #f1fbff;
}

#f123 li:last-child {
    border-right: none;
}

#f123 li a {
    color: #f1fbff;
}

#f2 {
    margin-top: 10px;
    color: #0c9aec;
}

footer {
    background-color: #1a1a1d;
}

.aboutt li {
    padding-top: 10px;
}

a {
    text-decoration: none;
}

#btnn {
    margin-top: 20px;
}