@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
}

body {
	background: #f1fbff;
}


.login-wrapper {
	display: flex;
	align-items: center;
}

.login-wrapper img {
	margin-right: 10px;
}


.hover-zoom {
	transition: transform .2s;
}

.driver-card {
	border: none;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.3s ease-in-out;
}

.driver-card:hover {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.driver-img {
	height: 300px;
	background-size: cover;
	background-position: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.card-img:hover {
	transform: scale(1.1);
	transition: transform 0.2s ease-in-out;
}

.hover-zoom:hover {
	transform: scale(1.05);
}

.card:hover {
	transform: translateY(-10px);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.navbar-nav .nav-link {
	color: #ffffff !important;
}

.navbar-nav li a:hover {
	background-color: red;
	color: white;
	border-radius: 20px;
}

.navbar-nav li div a:hover {
	background-color: red;
	color: white;
	border-radius: 0;
}

.section-padding {
	padding: 100px 0;
}

.carousel-item {
	height: 100vh;
	min-height: 300px;
}

.carousel-caption {
	bottom: 220px;
	z-index: 2;
}

.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
}

.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
}

.carousel-inner:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
	z-index: 1;
}

.navbar .getstarted {
	background: #106eea;
	margin-left: 30px;
	border-radius: 4px;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
	padding: .5rem 1rem;
	line-height: 2.3;
}

.navbar-nav a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
}

.navbar-light .navbar-brand {
	color: #000;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
	color: #000;
}

.navbar-light .navbar-nav .nav-link {
	color: #000;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
	color: #000;
}

.w-100 {
	height: 100vh;
}

.w-110 {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
	.carousel-caption {
		bottom: 370px;
	}

	.carousel-caption p {
		width: 100%;
	}

	.card {
		margin-bottom: 30px;
	}

	.img-area img {
		width: 100%;
	}
}

@media only screen and (max-width: 767px) {
	.navbar-nav {
		text-align: center;
	}

	.carousel-caption {
		bottom: 125px;
	}

	.carousel-caption h5 {
		font-size: 17px;
	}

	.carousel-caption a {
		padding: 10px 15px;
		font-size: 15px;
	}

	.carousel-caption p {
		width: 100%;
		line-height: 1.6;
		font-size: 12px;
	}

	.about-text {
		padding-top: 50px;
	}

	.card {
		margin-bottom: 30px;
	}
}

#fooooter {
	padding: 0px;
}

footer a:hover {
	text-decoration: underline red;
	text-underline-offset: 4px;
	text-decoration-thickness: 2px;
}

.footercolor {
	background-color: #15151f;
}

.tubiaos a {
	display: inline-block;
	width: 48px;
	height: 48px;
	padding: 30px;
}

#tubiao1 {
	background: url(../img/tt.png) no-repeat;
}

#tubiao1:hover {
	background: url(../img/tt1.png) no-repeat;
}

#tubiao2 {
	background: url(../img/tt2.png) no-repeat;
}

#tubiao2:hover {
	background: url(../img/tt3.png) no-repeat;
}

#tubiao3 {
	background: url(../img/tt4.png) no-repeat;
}

#tubiao3:hover {
	background: url(../img/tt5.png) no-repeat;
}

#tubiao4 {
	background: url(../img/tt6.png) no-repeat;
}

#tubiao4:hover {
	background: url(../img/tt7.png) no-repeat;
}

#f123 li {
	font-size: 20px;
	font-weight: bold;
	padding-left: 40px;
}

#f123 li a {
	color: #f1fbff;
}

#f2 {
	color: #f8fbff;
}

.f3 {
	background-color: #1b1b25;
}

.f4 {
	padding-left: 200px;
	padding-bottom: 20px;
}